<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Alsbtain.nPusher" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" versionCode = "1">
    <name>nPusher</name>
    <description>
        An app that pushes notifications.
    </description>
    <author email="info@alsbtain.net" href="http://alsbtain.net">
        Alsbtain Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/36.png" />
        <icon density="mdpi" src="www/res/icon/android/48.png" />
        <icon density="hdpi" src="www/res/icon/android/72.png" />
        <icon density="xhdpi" src="www/res/icon/android/96.png" />
        <icon density="xxhdpi" src="www/res/icon/android/144.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/192.png" />
    </platform>
	<platform name="ios">
		<icon src="www/res/icon/ios/icon-57.png" width="57" height="57" />
		<icon src="www/res/icon/ios/icon-72.png" width="72" height="72" />
		<icon src="www/res/icon/ios/icon-57-2x.png" width="114" height="114" />
		<icon src="www/res/icon/ios/icon-72-2x.png" width="144" height="144" />
		<icon src="www/res/icon/ios/120.png" width="120" height="120" />
		<icon src="www/res/icon/ios/76.png" width="76" height="76" />
		<icon src="www/res/icon/ios/152.png" width="152" height="152" />
	</platform>
	<plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
</widget>