<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Alsbtain.nPusher" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" versionCode = "1">
    <name>nPusher</name>
    <description>
        An app that pushes notifications.
    </description>
    <author email="info@alsbtain.net" href="http://alsbtain.net">
        Alsbtain Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"	gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"	gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"	gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"	gap:qualifier="xhdpi" />
</widget>
